<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YSAppFrame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>455AC8F11DAF2B5D006E59FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>455AC90A1DAF2B5D006E59FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>455AC9151DAF2B5D006E59FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
